* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: auto;
    background: url(sweettexture.jpg) blue;
    background-size: cover;
    background-repeat: no-repeat;
}
.box {
    min-width: 400px;
    background: #fafafa;
    border-radius: 38px;
    text-align: center;
    position: relative;
    margin-bottom: 150px;
  }

.box::before {
    content: "";
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
  }
  
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
  }
.calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    text-align: center;
    font-weight: bold;
}
